<h3><%= link_to "Click here to see all pets","/pets" %></h3>
<h3><%= link_to "Click here to see all shelters","/shelters" %></h3>


<h1>List New Shelter</h1>


<%= form_tag "/shelters" do %>
  <%= text_field_tag :name, "Name of Shelter" %>
  <%= text_field_tag :address, "Address" %>
  <%= text_field_tag :city, "City"%>
  <%= text_field_tag :state, "State" %>
  <%= text_field_tag :zipcode, "Zipcode" %>
  <%= submit_tag "Create Shelter" %>
<% end %>
