<h3><%= link_to "Click here to see all pets","/pets" %></h3>
<h3><%= link_to "Click here to see all shelters","/shelters" %></h3>

<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <%= image_tag(pet.image) %>
  <h2><%= link_to "#{pet.name}","/pets/#{pet.id}" %></h2>
  <h2><%= pet.approximate_age %></h2>
  <h2><%= pet.sex %></h2>
  <h3><%= link_to "#{pet.shelter.name}","/shelters/#{pet.shelter_id}" %></h3>

  <%= link_to "Update Pet", {:controller => "pets", :action => "edit", :pet_id => pet.id} %>
  <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
<% end %>
