<h3><%= link_to "Click here to see all pets","/pets" %></h3>
<h3><%= link_to "Click here to see all shelters","/shelters" %></h3>

<% @pets.each do |pet| %>
<% if "#{pet.id}" == @pet_id && pet.status == true %>
  <%= image_tag(pet.image) %>
  <h2><%= pet.name %></h2>
  <h2><%= pet.approximate_age %></h2>
  <h2><%= pet.sex %></h2>
  <h2><%= pet.shelter.name %></h2>
  <h2><%= "Adoption Status: Adoptable" %></h2>
<% elsif "#{pet.id}" == @pet_id %>
  <%= image_tag(pet.image) %>
  <h2><%= pet.name %></h2>
  <h2><%= pet.approximate_age %></h2>
  <h2><%= pet.sex %></h2>
  <h2><%= pet.shelter.name %></h2>
  <h2><%= "Adoption Status:Pending" %></h2>
  <% end %>
<% end %>

<%= link_to "Update Pet", {:controller => "pets", :action => "edit", :pet_id => @pet_id} %>

<%= link_to "Delete Pet", "/pets/#{@pet_id}", method: :delete %>
